.mainButton__container {
	width: 100%;

	display: flex;
	gap: 5px;
	justify-content: center;
	align-items: center;

	padding: 8px 16px;
	border-radius: 26px;
	background-color: #404040;
	color: #fff;

	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
	transition: all 0.3s;
}

.mainButton__container:hover {
	transform: scale(1.05);
}

.mainButton__fitWidth {
	width: fit-content;
}
