.appContainer {
	width: 100%;
	min-height: 100vh;
	background-color: #081f40;
	position: relative;
	display: flex;
	justify-content: center;
	padding: 20px 0;
}

.appContainer::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../../assets/fondo-tierra.png");
	background-attachment: fixed;
	mix-blend-mode: soft-light;
	background-size: cover;
}

.contentContainer {
	width: 100%;
	max-width: 1200px;
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
