.tableroVendedor__content__headerConfiguracion {
	display: flex;
	flex-direction: column;
	gap: 10px;
	background: var(--fondo-claro, rgba(255, 255, 255, 0.5));
	border-radius: 10px;
	padding: 10px;
}

.buttons__icons__container {
	display: flex;
	gap: 10px;
}
