.tipo__documentos__container {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

.tipo__documentos__group {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.container__1 {
	display: flex;
	justify-content: flex-end;
	align-content: center;
	padding: 20px 0 10px 0;
}

.p {
	color: #fff; 
	cursor: pointer;
	padding: 0 10px
}